include ./order
footer
	.scripts-area
	.columns
		.column.first
			a.logo(href="/")
				img(src="/assets/img/icons/logo.svg" width="197" height="78" loading="lazy")
				span Туроператор авторских путешествий
			.soc
				a(href="#")
					img(src="/assets/img/icons/footer/blank.svg" width="28" height="28")
				a(href="#")
					img(src="/assets/img/icons/footer/vimeo.svg" width="28" height="28")
				a(href="#")
					img(src="/assets/img/icons/footer/vk.svg" width="28" height="28")
				a(href="#")
					img(src="/assets/img/icons/footer/tg.svg" width="28" height="28")
		ul.column.nav
			li
				a(href="/") Главная
			li
				a(href="/about.html") О нас
			li
				a(href="/tours.html") Путешествия
			li
				a(href="/blog.html") Блог
			li
				a(href="/review.html") Отзывы
			li
				a(href="/contacts.html") Контакты

		.column.cred
			span.head ООО ВРЕМЯ ПРИКЛЮЧЕНИЙ
			.box
				span ИНН 2387-1735-897 		
				span ОГРН -987235 02934
			.box.lic
				span Лицензия туроператора
				span РТО 12394=123
				img(src="/assets/img/icons/footer/lic.png" width="44" height="44" loading="lazy")

		.column.cred
			span.head ИП Кушнарев В.A.
			.box
				span ИНН 771527876470
				span ОГРНИП 319774600435572

