
include ./order
include ./modalResponse
footer
	.scripts-area
		script(type="text/javascript" src="/vendors/snackbar/snackbarlight.min.js")
		link(rel="stylesheet" href="/vendors/snackbar/snackbarlight.min.css" media="all")
		script(type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=TranslateInit")
		script(type="text/javascript" src="/vendors/js.cookie.min.js")
		script.
			function TranslateInit(){ new google.translate.TranslateElement({pageLanguage: 'ru'}) }
	.columns
		.column.first
			a.logo(href="/")
				img(src="/assets/img/icons/logo.svg" width="197" height="78" loading="lazy")
				span Туроператор авторских путешествий
			.soc
				a(href="https://www.instagram.com/vladimirkushnarev")
					img(src="/assets/img/icons/footer/inst.svg" width="28" height="28")
				a(href="https://vimeo.com/adventuretime1")
					img(src="/assets/img/icons/footer/vimeo.svg" width="28" height="28")
				a(href="https://vk.com/adventuretimepro1")
					img(src="/assets/img/icons/footer/vk.svg" width="28" height="28")
				a(href="https://t.me/adventuretimeprorus")
					img(src="/assets/img/icons/footer/tg.svg" width="28" height="28")
		ul.column.nav
			li
				a(href="/") Главная
			li
				a(href="/about.html") О нас
			li
				a(href="/tours.html") Путешествия
			li
				a(href="/blog.html") Блог
			li
				a(href="/review.html") Отзывы
			li
				a(href="/contacts.html") Контакты

		.column.cred
			span.head ООО ВРЕМЯ ПРИКЛЮЧЕНИЙ
			.box
				span ИНН 9715484170
				span ОГРН 1247700398220
			.box.lic
				span Лицензия туроператора
				span РТО 026205
				img(src="/assets/img/icons/footer/lic.png" width="44" height="44" loading="lazy")

		.column.cred
			span.head ИП Кушнарев В.A.
			.box
				span ИНН 771527876470
				span ОГРНИП 319774600435572

