dialog#modalResponse()
	.head
		span Заявка
		button.close
	.body
		//- .icon.success
		//- p.header Ваша заявка получена
		//- p.dsc Мы свяжемся с вами в ближайшее время
		//- button.hide Закрыть
		.icon
		p.header Произошла ошибка
		p.dsc Пожалуйста, <a href="https://t.me/+79857737282">сообщите нам</a> об этом
		button.hide Закрыть


			