#pages
	.page.page1
		.txt
			img(src="/assets/img/pages/faq/logo.png" width="216" height="76")
			h1 КИТЫ, ВУЛКАНЫ, МЕДВЕДИ
			span.duration Продолжительность тура: 7 дней
			span.tel +7 985 773 72 82
	.page
		section#description
			span.pagetitle КИТЫ, ВУЛКАНЫ, МЕДВЕДИ
			.txt
				p Внимание! Аэрофлот выложил расписание рейсов, на сезон 2024 года, по цене 14000 рублей в одну сторону!
				p Если Вы хотите отправиться на Камчатку, не переплачивая за перелет, не тяните с бронированием тура и покупкой билетов. Этот тариф действует, как правило, несколько недель после начала продаж!
		section#price
			h3 Стоимость тура
			ul
				li
					span 01.02.2024 - 03.02.2024
					span 115 000 р.
					span (старая цена 195 000)
				li
					span 01.02.2024 - 03.02.2024
					span 115 000 р.
					span (старая цена 195 000)
		section#program
			h3 Программа тура
			.day
				h3 День 2. Морской поход
				p Ранним утром отправляемся в порт и заходим на борт нашей океанской яхты. Cегодня мы запланировали 10-ти часовой морской поход в бухту Русская. Завтрак, обед и ужин наш повар приготовит на борту яхты.
				p Цель минимум, насладиться морским простором и увидеть колонию ластоногих. Цель максимум, напроситься "на свидание" с китами и касатками. Желающие cмогут испытать удачу на морской рыбалке и добудут рыбу для нашего обеда и ужина. Возвращение в порт около 16-17 часов. Отдых в отеле.
				.gallery
					img(src="/assets/img/pages/faq/p1.jpg")
					img(src="/assets/img/pages/faq/p2.jpg")
		section#inclusion.mt2.mb2
			.item.inc
				h3 Включено в стоимость
				ul
					li Двухместное размещение в уютной гостинице, с термальным горячим бассейном на 6 ночей. Стандартное размещение в двухместных номерах 16м2 с двумя раздельными кроватями и санузлом;
					li Однодневный сплав по реке, с рыбалкой и ухой от нашего повара
			.item.not
				h3 Оплачивается отдельно
				ul
					li Перелет до а/п Петропавловска-Камчатского (код аэропорта PKC);
					li Одноместное размещение в двухместном номере 16м2, с двумя раздельными кроватями и санузлом (+25000 рублей, вносится одновременно с депозитом);
		section#hotels.mb2
			h3 Места размещения в туре
			.item
				p.name Гостиница Кантри, с термальным бассейном на территории
				p.dsc Размещаем группы, заезжающие по воскресеньям
				.txt
					p Заезды по понедельникам. Двухместное размещение в новых номерах со всеми удобствами. На территории отеля имеется бесплатный термальный бассейн.
					.gallery
						img(src="/assets/img/pages/faq/hotels/01.jpg")
						img(src="/assets/img/pages/faq/hotels/02.jpg")
						img(src="/assets/img/pages/faq/hotels/03.jpg")
						img(src="/assets/img/pages/faq/hotels/01.jpg")
		section#reviews
			h3 Отзывы наших гостей
			.list
				.item
					.ava
						img(src="/assets/img/pages/faq/ava.jpg" width="69" height="69")
						span.name Вадим
					.txt
						p Доволен, как медведь в период нереста )) (Достаточно по Камчатски, по-моему)
						p Насыщенная видами, впечатлениями, свежайшей рыбой икрой и крабами поездка.Отдых для глаз, праздник для желудка!
						
				.item
					.ava
						img(src="/assets/img/pages/faq/ava.jpg" width="69" height="69")
						span.name Светлана
					.txt
						p В августе 2023 года нам выпала большая удача побывать на Камчатке с командой Владимира. Отличная организация, продуманность всех нюансов тура сделали поездку в разы интересней. Камчатский край встретил нас прекрасной погодой, природа просто поразила своей первозданной красотой. 
						p Как прекрасен и могуч Тихий океан, какой ласковый и нежный чёрный вулканический песок на Халактырском пляже, это словами просто не описать. Красота горного массива Вачкажец завораживает своей изумрудной зеленью, на зеркальную гладь озера можно смотреть бесконечно. А какие здесь каменные берёзы, это просто фантастика.






