#pages
	.page.page1
		.txt
			img(src="/assets/img/pages/faq/logo.png" width="216" height="76")
			h1 КИТЫ, ВУЛКАНЫ, МЕДВЕДИ
			span.duration Продолжительность тура: 7 дней
			span.tel +7 985 773 72 82
	.page.page2
		span.pagetitle КИТЫ, ВУЛКАНЫ, МЕДВЕДИ
		.txt
			p Внимание! Аэрофлот выложил расписание рейсов, на сезон 2024 года, по цене 14000 рублей в одну сторону!
			p Если Вы хотите отправиться на Камчатку, не переплачивая за перелет, не тяните с бронированием тура и покупкой билетов. Этот тариф действует, как правило, несколько недель после начала продаж!

			h2 Стоимость тура
			ul
				li
					span 01.02.2024 - 03.02.2024
					span 115 000 р.
					span (старая цена 195 000)
				li
					span 01.02.2024 - 03.02.2024
					span 115 000 р.
					span (старая цена 195 000)
			
			h2 Программа тура
			h3 День 2. Морской поход
			p Ранним утром отправляемся в порт и заходим на борт нашей океанской яхты. Cегодня мы запланировали 10-ти часовой морской поход в бухту Русская. Завтрак, обед и ужин наш повар приготовит на борту яхты. 
			p Цель минимум, насладиться морским простором и увидеть колонию ластоногих. Цель максимум, напроситься "на свидание" с китами и касатками. Желающие cмогут испытать удачу на морской рыбалке и добудут рыбу для нашего обеда и ужина. Возвращение в порт около 16-17 часов. Отдых в отеле.
			.gallery
				img(src="/assets/img/pages/faq/p1.jpg")
				img(src="/assets/img/pages/faq/p2.jpg")

