article
	include ../../ui/bread
	h1 БЛОГ
	.grid
		.grid-item
			img(src="/assets/img/pages/blog/grid/01.jpg")
			.dsc
				a(href="/article.html") Новый Год В Намибии
				span В конце декабря 2022 года мы отправились в Новогодний тур по Намибии. Что из этого получилось? Смотрите в нашем фото отчете. Энджой! Наши предстоящие путешествия в Африку вы можете посмотреть …

		.grid-item.grid-item--width2
			img(src="/assets/img/pages/blog/grid/02.jpg")
			.dsc
				a(href="/article.html") Новое Видео. Land Of Bears.
				span Всем привет, друзья! Прошло почти 6 месяцев со времени нашей летней экспедиции на Землю Медведей - Камчатку. Скоро начнется первый месяц зимы, мы будем готовиться к празднованию Нового Года, выбирать…

		.grid-item
			img(src="/assets/img/pages/blog/grid/03.jpg")
			.dsc
				a(href="/article.html") Туристическая виза Ирана. Все проще, чем кажется.
				span После снятия международных санкций, туризм в Исламской Республике Иран медленно, но набирает обороты. В 2022 году у нас будет несколько программ по Ирану разной продолжительности и разной направленности. Все программы…

		.grid-item ...
		.grid-item ...
