include ../../ui/bread.pug
article.mb1
	.hero
		img(src="/assets/img/pages/about/hero.jpg")
	.box.about
		h1 О нас
		hr
		p Проект <b>ADVENTURЕTIME</b> был создан в 2014 году увлеченными и целеустремленными людьми. Он посвящен путешествиям и экспедициям в самые разные уголки нашей прекрасной Планеты.
		p Наша цель объединить смелых и сильных духом людей. Тех, кто хочет жить, а не проживать, кто стремится открывать для себя жизнь с новых сторон и не боится идти вперед.
		p К этому проекту каждый из нас шел самостоятельно и независимо друг от друга. Но, как часто бывает, нашим мечтам было суждено объединиться и превратиться в настоящую Идею.
		p Мы искренне благодарим всех тех, кто с первого дня принимал активное участие в развитии нашего проекта. Нам очень ценно ваше мнение. Нам важно знать, куда вы мечтаете отправиться и какие места хотите посетить вместе с нами. Мы приглашаем всех наших старых и новых друзей разделить наше увлечение и страсть.
		p Время пришло. Время путешествовать. Время жить.
		p 
		p Команда Экспертов
	.box.team
		h2 Команда Экспертов
		hr
		ul
			li
				img(src="/assets/img/pages/about/team/01.png" width="132" height="132")
				span.name Владимир Кушнарев
				span.role Фотограф, видеограф, гид, основатель и руководитель проекта
			li
				img(src="/assets/img/pages/about/team/02.png" width="132" height="132")
				span.name Chan Maxby
				span.role Партнер проекта в Юго-Восточной Азии
			li
				img(src="/assets/img/pages/about/team/03.png" width="132" height="132")
				span.name Виктория Зорина
				span.role Координатор групп. Забота, ответственность, пунктуальность
			li
				img(src="/assets/img/pages/about/team/04.png" width="132" height="132")
				span.name Елена Ермолина
				span.role Профессиональный фотограф. Изящество и деликатность
			li
				img(src="/assets/img/pages/about/team/05.png" width="132" height="132")
				span.name Камиль
				span.role Историк, поэт, профессиональный гид, эксперт по Дагестану
			li
				img(src="/assets/img/pages/about/team/06.png" width="132" height="132")
				span.name Хайбулла
				span.role Профессиональный гид, эксперт по Дагестану

