main
	include ../../ui/bread
	article
		.content.mb1
			h1.green Новое Видео. Land Of Bears.
			p Всем привет, друзья!
			p Прошло почти 6 месяцев со времени нашей летней экспедиции на Землю Медведей - Камчатку. Скоро начнется первый месяц зимы, мы будем готовиться к празднованию Нового Года, выбирать елки, покупать мандарины и подарки...
			p А где-то там, за тысячи километров от столиц и больших городов, под покровом метровых сугробов, спят, уткнувшись носами в теплые животы своих мам, наши маленькие герои.
			p Давайте вернемся на несколько минут в ту поездку и вспомним, как это было. Приятного просмотра. И не забудьте включить звук.
			p Для всех, кто не смог, или не успел попасть в наш тур летом 2021 года, еще есть возможность записаться в группы на июль 2022.

			iframe(src="https://player.vimeo.com/video/365545918?h=2a639348dc" width="100%" height="400" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen)
			include ./swiper
			include ./masonry
		aside
			.head
				h3 Читайте другие наши статьи
			ul.body
				li
					img(src="/assets/img/pages/about/aside/01.jpg" width="60" height="60")
					a(href="#") Туристическая виза Ирана. Все проще, чем кажется.
				li
					img(src="/assets/img/pages/about/aside/02.jpg" width="60" height="60")
					a(href="#") Новый Год В Намибии
				li
					img(src="/assets/img/pages/about/aside/03.jpg" width="60" height="60")
					a(href="#") История Одной Охоты. Часть III