section#why.mb1
	h3 Почему с нами?
	.body
		img.bg(src="/assets/img/pages/tour/why/bg.jpg" loading="lazy" height="305" width="100%")
		ul
			li Уникальность наших путешествий хорошо известна не только в России, но и за рубежом. Агенства из США, Австралии, Малайзии и Японии просят нас организовать программы для своих клиентов в России, Аргентине, Намибии, Гренландии и других странах. Мы не пользуемся услугами посредников. Все наши маршруты, это уникальный плод многолетней работы, к которой мы подходим, как к искусству. 
			li Наши путешествия, это не только эмоции и новые открытия, но и интересные знакомства. Растущая с каждым годом семья ADVENTURETIME, это активные и целеустремленные люди, готовые жить ярко и смело. Становитесь и Вы ее частью!
			li Работа, которую мы делаем, это прежде всего творчество. Мы снимаем фильмы и пишем статьи. Наши рассказы о странах и людях публикуют National Geographic, National Geographic Traveller, Aeroflot Premium, журнал Сибирь, и многие другие издания! Живи сейчас! Люби, твори и путешествуй!
