.home.swiper
	.swiper-wrapper
		//- .swiper-slide
		//- 	img(src="/assets/img/pages/home/slide/01.jpg")
		//- .swiper-slide
		//- 	img(src="/assets/img/pages/home/slide/02.jpg")

		.swiper-slide
				picture
					source(media="(max-width:480px)" srcset="/assets/img/pages/home/slide/01_480.webp" type="image/webp")
					img(src="/assets/img/pages/home/slide/01.jpg")
		.swiper-slide
				picture
					source(media="(max-width:480px)" data-srcset="/assets/img/pages/home/slide/02_480.webp" type="image/webp")
					img(data-src="/assets/img/pages/home/slide/02.jpg")
	.pagination-wrapper
		.swiper-pagination
article
	.fake-masonry.mt1.mb1
		.item.box.why
			h2 Зачем и почему?
			hr
			p Тик-так, тик-так. Как быстро бежит время. А ведь только вчера, казалось, прозвенел Последний звонок.  Мы не успели оглянуться, а пролетел уже десяток лет. Или больше? Да, мы многого добились, успели полюбить и подарить жизнь, обрели дом и надежных друзей, сделали карьеру...  
			p Только иногда, наедине с собой, мы немного грустим по своим далеким, но не исполненным пока детским мечтам. 
			p Арктические широты и коварный пролив Дрейка, невероятные пейзажи Лофотенских островов и лавандовые поля Прованса, непроходимые джунгли Амазонки и заснеженные вершины Гималаев.
			p Вы ведь тоже мечтали? Правда? А может, все это еще впереди? Мы зовем вас в путь, в интересное и захватывающее путешествие по нашей сказочной, огромной Планете, где каждую секунду нас ждут великие открытия и новые друзья.
		.item.gallery4
			img(src="/assets/img/pages/home/gallery4/01.jpg" width="266" height="167")
			img(src="/assets/img/pages/home/gallery4/02.jpg" width="266" height="167")
			img(src="/assets/img/pages/home/gallery4/03.jpg" width="266" height="167")
			img(src="/assets/img/pages/home/gallery4/04.jpg" width="266" height="167")

		.item.box.who
			h2 Кто мы и для кого?
			hr
			p <b>ADVENTURETIME</b> - компания, созданная увлеченными и целеустремленными людьми. Наш проект посвящен путешествиям и экспедициям, мастер-классам по пейзажной и трэвэл фотографии, которые мы проводим в самых прекрасных уголках нашей удивительной Планеты. 
			p Основная задача проекта - объединение в клубное сообщество творческих и сильных духом людей, живущих яркими идеями, влюбленных в жизнь, познание мира и понимание себя в этом огромном пространстве. 
			p Каждый день неповторим. Упущенные возможности и отложенные "на потом" грандиозные планы, как правило, не находят своей реализации. 
			p Живи сегодня, сейчас, цени каждый миг, проведенный с друзьями и близкими. Люби, твори и путешествуй.
		.item.gallery4
			img(src="/assets/img/pages/home/gallery4/05.jpg")
			img(src="/assets/img/pages/home/gallery4/06.jpg")
		.item.gallery2
			img(src="/assets/img/pages/home/gallery2/01.jpg" width="560" height="289")
			img(src="/assets/img/pages/home/gallery2/02.jpg" width="560" height="289")

		.item.box.offer
			h2 Что мы предлагаем?
			hr
			p Уникальные групповые маршруты путешествий и приключенческих экспедиций от Якутии и Камчатки до Патагонии и Антарктиды.
			p Разработка и проведение путешествий на заказ, для сложившихся групп. Для нас нет границ. Мы готовы выполнить любую задачу в любой точке мира. Хотите кругосветку? Пожалуйста.
			p Организация корпоративных путешествий c любым уровнем комфорта и сервиса. 
			p PROMO путешествия. Автомобильные пробеги, яхтенные регаты, горные восхождения... полеты на Луну.
			p Индивидуальные и групповые мастер-классы по пейзажной фотографии.
			p Проведение тематических встреч, лекций, семинаров, выставок.

		.item.box.trust
			h2 Почему нам доверяют?
			hr
			p Мы - команда профессиональных путешественников, горных гидов, яхтсменов и фотографов.
			p Мы не пользуемся услугами посредников, поэтому наша цена всегда лучшая. Проверено.
			p Мы не делаем массовый продукт. На подготовку одной программы уходит от нескольких месяцев до года, поэтому наши путешествия уникальны, а на некоторые выстраивается очередь.
			p Мы сами сопровождаем группы, гарантируя личным присутствием качество программ.
			p Мы искренне любим свою работу. Путешествия - наша страсть, образ жизни и профессия.
	include ./tourlist.pug
		
