article
	include ../../ui/bread
	h1 КОНТАКТЫ
	.cnt.mb1
		p.name ИП Кушнарев В.A.
		ul
			li ИНН 771527876470
			li ОГРНИП 319774600435572
		ul
			li г. Москва, ул. Коненкова, 19
			li +7 985 773 72 82
		p Также, Вы можете написать нам через <a href="#">WhatsApp</a> или <a href="#">Telegram</a>