form#review
	.head
		span Напишите свой отзыв
	ul.avlist.mb1
		li.male
			label
				<svg width="69" height="61" viewBox="0 0 69 61" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M35.0897 0.00513746C16.0392 -0.320334 0.330613 14.8597 0.00514086 33.9102C-0.179727 44.7119 4.63465 54.4201 12.3002 60.8761C12.8014 60.4294 13.3502 60.0391 13.9366 59.7123L24.2306 54.0972C24.8937 53.7355 25.447 53.2019 25.8326 52.5524C26.2181 51.903 26.4216 51.1617 26.4217 50.4064V46.1883C26.4217 46.1883 23.4 42.5742 22.2479 37.5529C21.7602 37.2407 21.3586 36.8113 21.0798 36.3039C20.801 35.7965 20.6538 35.2273 20.6518 34.6483V30.0319C20.6518 29.0164 21.1035 28.109 21.8052 27.4736V20.8002C21.8052 20.8002 20.4343 10.415 34.4986 10.415C48.5629 10.415 47.192 20.8002 47.192 20.8002V27.4736C47.895 28.109 48.3455 29.0164 48.3455 30.0319V34.6483C48.3455 36.2002 47.304 37.506 45.8901 37.9421C45.1064 40.405 43.9509 42.7336 42.4636 44.8473C42.0847 45.3824 41.7306 45.8355 41.4208 46.1883V50.5131C41.4208 52.1053 42.3204 53.5622 43.7446 54.273L54.7677 59.7839C55.4169 60.115 56.0244 60.5224 56.5773 60.9972C64.0111 54.7976 68.8138 45.5282 68.9921 35.0897C69.3202 16.0392 54.1415 0.330609 35.0897 0.00513746Z" fill="#D9D9D9"></path>
				</svg>
				input(type="radio" name="ava" checked)
		li.female
			label
				<svg width="69" height="62" viewBox="0 0 69 62" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M34.5 0C15.4456 0 0 15.4469 0 34.5C0 44.9437 4.64774 54.2965 11.98 60.6237C12.7646 59.5692 13.7834 58.7113 14.9561 58.1175L26.8202 53.0298C27.4633 52.7082 27.9867 51.6693 28.3551 50.9285C28.4304 50.774 28.4652 50.6029 28.4562 50.4313C28.4471 50.2596 28.3945 50.0931 28.3034 49.9474C28.2122 49.8017 28.0855 49.6816 27.9351 49.5983C27.7847 49.5151 27.6157 49.4715 27.4438 49.4717H19.0531C19.0531 49.4717 16.0197 49.1749 13.6802 48.1698C12.3093 47.5814 11.8381 46.8041 12.6947 45.5843C15.2008 42.0171 20.381 33.6173 20.549 24.9429C20.549 24.9429 20.8367 11.5894 34.0105 11.4813C41.6955 11.5451 45.3252 16.0679 47.0163 19.8264C47.9589 21.9238 48.3638 24.2099 48.5148 26.5038C49.0616 34.7721 53.2719 42.3348 55.2338 45.566C55.8991 46.6622 55.5775 48.1216 54.4775 48.7804C52.6717 49.8597 50.4624 49.4717 50.4624 49.4717H42.0158C41.1904 49.4717 40.8259 50.6252 41.4742 51.1368C42.0028 51.5534 42.5066 51.9297 42.7787 52.0781L52.647 58.0498C54.0325 58.8086 55.1797 59.9378 55.9603 61.3111C55.9942 61.3436 56.0319 61.3735 56.0645 61.4087C63.9448 55.0867 69 45.389 69 34.5C69 15.4469 53.5544 0 34.5 0Z" fill="#D9D9D9" />
				</svg>
				input(type="radio" name="ava")
		li.custom
			label
				input(type="file" style="display:none")
				<svg width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="34.5" cy="34.5" r="34.5" fill="#D9D9D9" />
					<mask id="mask0_468_368" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="23" y="23" width="24" height="24">
						<rect x="23" y="23" width="24" height="24" fill="#9D9D9D" />
					</mask>
					<g mask="url(#mask0_468_368)">
						<path d="M34 39V30.85L31.4 33.45L30 32L35 27L40 32L38.6 33.45L36 30.85V39H34ZM29 43C28.45 43 27.9792 42.8042 27.5875 42.4125C27.1958 42.0208 27 41.55 27 41V38H29V41H41V38H43V41C43 41.55 42.8042 42.0208 42.4125 42.4125C42.0208 42.8042 41.55 43 41 43H29Z" fill="#9D9D9D" />
					</g>
				</svg>
				input(type="radio" name="ava")
	.inputs
		input(type="text" placeholder="Ваше имя" name="name" required)
		input(type="text" placeholder="Ваша фамилия" name="surname" required)
		input(type="text" placeholder="Название тура" name="tourname" required)
	.tas
		textarea(name="emoji" placeholder="- Ваши основные впечатления и эмоции. \n\n - Насколько была полезна работа гидов? \n\n-О чем бы вы хотели рассказать будущим путешественникам?")
		//- textarea(name="guide" placeholder="Насколько для Вас была полезна работа гидов?")
		//- textarea(name="future" placeholder="Что запомнилось, о чем бы вы хотели рассказать будущим путешественникам?")
	.files.mb1
		span.head Можно загрузить фотографии
		span.comment до 5 шт., до 15 Мб каждая
		span.comment JPG, JPEG, HEIC
		label.mb1
			input(type="file")
			span Выберите файл

		.gallery
			//- img(src="/assets/img/icons/review-form/01.jpg" width="50" height="50")
			//- img(src="/assets/img/icons/review-form/empty.svg" width="50" height="50")
	button(type="submit") Отправить



