article
	include ../../ui/bread
	h1 Путешествия
	ul.mb1.tlist
		li
			.label.red
				span Мест нет
			img.hero(src="/assets/img/pages/tours/01.jpg" width="320" height="214")
			.dsc
				span.country Камчатка
				a(href="/tour.html") Туры в ЮАР 2023-2024
				.price
					span.green 139 000 ₽
					span.duration 7 дней
				.dates
					.actual 9 - 15.09
					.plan + 10 дат
		li
			.label.yellow
				span 2 места
			img.hero(src="/assets/img/pages/tours/02.jpg" width="320" height="214")
			.dsc
				span.country Мексика
				a(href="/tour.html") Туры в Мексику 2024
				.price
					span.green 79 000 ₽
					span.duration 10 дней
				.dates
					.actual 30 - 02.09.24
					.plan + 1 дата
		li
			.label.green
				span Идет набор
			img.hero(src="/assets/img/pages/tours/03.jpg" width="320" height="214")
			.dsc
				span.country Россия
				a(href="/tour.html") Туры на Зимний Байкал Февраль - Март 2024 г.
				.price
					span.green 179 000 ₽
					span.duration 21 день
				.dates
					.actual 1 - 02.09.24
					.plan + 2 даты
