#filter
	.group
		span.head Страны
		ul
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Россия
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Мексика
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Индонезия
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Нидерланды́
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Индонезия		
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Индонезия		
	.group
		span.head События
		ul
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Туры на Новый год
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Туры на лето
			li
				label
					input(type="checkbox")
					span.s
					a(href="#") Туры в Африку
