#filter
	.group
		span.head События
		ul
			li
				label
					input(type="checkbox" data-tag="new_year" checked data-title="Туры на Новый год")
					span.s
					a(href="новый-год") Новый год
	.group
		span.head Страны
		ul
			li
				label
					input(type="checkbox" data-tag="ru" data-title="Туры в Россию")
					span.s
					a(href="россия") Россия
			li
				label
					input(type="checkbox" data-tag="nm" data-title="")
					span.s
					a(href="намибия") Намибия

