@font-face
	font-family: 'Inter'
	font-style: normal
	font-weight: 300
	src: local('Inter'), local('Inter-Light'), url('/assets/fonts/Inter-Light.woff2') format('woff2')
	font-display: block
@font-face
	font-family: 'Inter'
	font-style: normal
	font-weight: 400
	src: local('Inter'), local('Inter-Regular'), url('/assets/fonts/Inter-Regular.woff2') format('woff2')
	font-display: block
@font-face
	font-family: 'Inter'
	font-style: normal
	font-weight: 500
	src: local('Inter'), local('Inter-Medium'), url('/assets/fonts/Inter-Medium.woff2') format('woff2')
	font-display: block
@font-face
	font-family: 'Inter'
	font-style: normal
	font-weight: 600
	src: local('Inter'), local('Inter-SemiBold'), url('/assets/fonts/Inter-SemiBold.woff2') format('woff2')
	font-display: block

@font-face
	font-family: 'Inter'
	font-style: normal
	font-weight: 700
	src: local('Inter'), local('Inter-Bold'), url('/assets/fonts/Inter-Bold.woff2') format('woff2')
	font-display: block

$green: #32A95E
$dark: #2C3959

html
	box-sizing: border-box
	scrollbar-gutter: stable
	scroll-behavior: smooth
*, *:before, *:after
	box-sizing: inherit

body
	margin: 0
	padding: 0
	font-family: 'Inter', sans-serif
	background-color: #EBEBEB

ul
	margin: 0
	padding: 0
	list-style: none

img, picture,svg
	max-width: 100%
	display: block
.mt1
	margin-top: 1rem
.mb1
	margin-bottom: 1rem
.mt2
	margin-top: 2rem
.mb2
	margin-bottom: 2rem
.mt3
	margin-top: 3rem
.mb3
	margin-bottom: 3rem

$desktop: 1140px
$notebook: 100%

@mixin mw()
	@media(min-width: 1900px)
		margin: 0 calc(50% - $desktop/2)
	@media(max-width: 1499px)
		margin: 0 1rem

@mixin pw()
	@media(min-width: 1900px)
		padding: 0 calc(50% - $desktop/2)
	@media(max-width: 1899px)
		padding: 0 calc(50% - $desktop/2)
	@media(max-width: 1399px)
		padding: 1rem
#nav-icon1
	width: 20px
	min-width: 20px
	height: 15px
	position: relative
	transform: rotate(0deg)
	transition: .5s ease-in-out
	cursor: pointer
	display: none
	@media(max-width: 1024px)
		display: block
	span
		display: block
		position: absolute
		height: 2px
		width: 100%
		background: #c2cfef
		border-radius: 50px
		opacity: 1
		left: 0
		transform: rotate(0deg)
		transition: .25s ease-in-out
		pointer-events: none

		&:nth-child(1)
			top: 0px

		&:nth-child(2)
			top: 6px
			height: 2.2px

		&:nth-child(3)
			top: 12px
	&.open span
		&:nth-child(1)
			top: 6px
			transform: rotate(135deg)

		&:nth-child(2)
			opacity: 0
			left: -60px

		&:nth-child(3)
			top: 6px
			transform: rotate(-135deg)
nav.bread
	margin: 20px 0
	a
		color: #4E4E4E
		text-decoration: none
		&:hover
			text-decoration: underline
	ol
		display: flex
		list-style: none
		gap: 10px
		color: lighten(#4E4E4E, 15%)
		font-weight: normal
		font-weight: 500
		flex-wrap: wrap
		padding-left: 0
		li
			&:not(:last-child)
				&:after
					content: '/'
					margin-left: 10px
main
	@include pw
h1.green
	font-size: 48px
	color: $green
	font-weight: 600
.fake-masonry
	--gap: clamp(1rem,5vmin,1rem)
	columns: 400px
	gap: var(--gap)
	max-width: 1140px
	.item
		break-inside: avoid
		margin-bottom: var(--gap)

.swiper-tours
	display: grid
	column-gap: 1rem
	row-gap: 10px
	align-items: center
	grid-template-columns: 1fr 100px 26px
	overflow: hidden
	span.header
		grid-row: 1
		grid-column: 1/4
		font-size: 1.5rem
		color: $green
		font-weight: 600
		margin-bottom: 10px
	.alltours
		display: flex
		align-items: center
		gap: 10px
		font-size: 1rem
		color: #4E4E4E
		grid-row: 3
		grid-column: 2
		a
			text-decoration: none
			color: #4E4E4E
			font-weight: 500
			&:hover
				text-decoration: underline
	.swiper
		padding-bottom: 10px
		grid-row: 2
		grid-column: 1/3
		width: 100%
	svg.next
		min-width: 26px
		cursor: pointer
		grid-row: 2
		grid-column: 3
		&:focus
			outline: none
		&.swiper-button-disabled
			opacity: 0.6
	.swiper-slide
		background-color: #fff
		border-radius: 12px
		box-shadow: 0 1px 4px 0 rgba(33, 33, 38, 0.16)
		transition: box-shadow 0.3s ease
		&:hover
			box-shadow: 0 3px 6px 0 rgba(33, 33, 38, 0.16)
			img
				opacity: 0.8
		img
			border-top-left-radius: 11px
			border-top-right-radius: 11px
			transition: opacity 0.3s ease
			width: 100%
			object-fit: cover
		a
			display: inline-block
			margin: 1rem
			color: #000
			text-decoration: none
			&:after
				content: ''
				position: absolute
				inset: 0
				border-radius: 12px

dialog#tourOrderPopup
	position: fixed
	top: 10rem
	z-index: 10
	border: none
	padding: 0
	box-shadow: 0 1px 4px 0 rgba(33, 33, 38, 0.16)
	background: #fff
	border-radius: 12px
	@media(max-width:480px)
		margin-top: -8rem
		width: 100vw
	>.head
		display: flex
		align-items: center
		color: $green
		justify-content: space-between
		border-bottom: 1px solid $green
		padding-bottom: 10px
		margin-bottom: 10px
		padding: 12px 1.5rem
		padding-right: 10px
		font-size: 20px
		font-weight: 600
		button.close
			background: transparent
			border: none
			cursor: pointer
			&:hover svg path
				fill: #f84565
	form.body
		padding: 1.5rem
		padding-top: 10px
		//max-height: 70vh
		//overflow-y: auto
		span.title
			font-weight: 600
			font-size: 20px
			display: block
			margin-bottom: 1rem
		.columns
			display: flex
			gap: 1rem
			@media(max-width:910px)
				flex-direction: column
			.column
				&.first
					min-width: 277px
					.select
						border-bottom: 1px solid #C5C5C5
						cursor: pointer
						position: relative
						&:hover
							> .head
								background-color: #fafafa
						.head
							.date
								display: flex
								justify-content: space-between
								align-items: center
							.dsc
								display: flex
								align-items: center
								gap: 1rem
								font-weight: 300
								color: #4E4E4E
								font-size: 14px
								margin: 10px 0
						ul.body
							display: none
							flex-direction: column
							gap: 1rem
							padding: 1rem 0
							max-height: 230px
							overflow-y: auto
							position: absolute
							top: 58px
							background-color: #fff
							z-index: 2
							width: 277px
							li
								cursor: pointer
								>*
									pointer-events: none
								&:hover
									background-color: #eee
								&.disabled
									opacity: 0.5
									cursor: not-allowed
									&:hover
										background-color: #fff
								.dsc
									display: flex
									gap: 1rem
									align-items: center
									font-size: 14px
									color: #4E4E4E
									font-weight: 300

						&.open	// .select
							.head
								border-bottom: 1px solid #c5c5c5
								svg
									transform: rotate(180deg)
							ul.body
								display: flex

					.count
						.row
							display: flex
							justify-content: space-between
							align-items: center
							&:not(:last-child)
								margin-bottom: 10px
							.counter
								display: flex
								align-items: center
								input
									width: 36px
									height: 36px
									background-color: #fff
									border: none
									text-align: center
									&:focus
										outline: none
										background-color: #eee
									&::-webkit-outer-spin-button,
									&::-webkit-inner-spin-button
										-webkit-appearance: none
										margin: 0
										font-family: 'Inter'
										font-weight: 600
									&:placeholder
										font-family: inherit
								button
									width: 36px
									height: 36px
									display: flex
									align-items: center
									justify-content: center
									background: transparent
									border: 1px solid $green
									border-radius: 4px
									cursor: pointer
									&:hover, &:focus
										background-color: #d6eedf82
									>*
										pointer-events: none
				&.fields
					display: flex
					flex-direction: column
					gap: 1rem
					width: 280px
					input[type="text"]
						width: 100%
						background-color: #F0F0F0
						padding: 14px 1rem
						border: none
						font-family: "inter"
						font-size: 1rem
						border-top-right-radius: 6px
						border-bottom-right-radius: 6px

						&:focus
							outline: none
							background-color: darken(#F0F0F0, 5%)

					label.ncb
						display: flex
						align-items: center
						font-size: 14px
						gap: 10px
						cursor: pointer
						justify-content: flex-end
						&:hover
							.l
								color: $green
						input
							display: none
							&:checked
								& ~ .c
									&:after
										content: ''
										position: absolute
										width: 10px
										height: 10px
										border-radius: 4px
										background-color: $green
										top: 4px
										left: 4px
								& ~ .l
									color: $green

						span
							&.c
								position: relative
								display: block
								width: 20px
								height: 20px
								border-radius: 4px
								border: 1px solid $green
					.mask
						background-color: #F0F0F0
						border-radius: 6px
						display: flex
						gap: 10px
						align-items: center
						position: relative
						.head
							display: flex
							align-items: center
							gap: 5px
							margin-left: 10px
							cursor: pointer
							.f
								display: flex
								align-items: center
								gap: 5px
								svg.f
									min-width: 23px
								svg.triangle
									min-width: 11px
						ul.body
							display: none
							position: absolute
							top: 49px
							left: 0
						&.open // .mask
							ul.body
								display: flex
								flex-direction: column
								background-color: #fff
								box-shadow: 0 1px 4px 0 rgba(33,33,38,.16)
								width: 100%
								max-height: 125px
								overflow-y: auto
								li
									display: flex
									gap: 35px
									align-items: center
									padding: 10px
									cursor: pointer
									>*
										pointer-events: none
									&:not(:last-child)
										border-bottom: 1px solid #ccc
									&:hover
										background-color: #fafafa

				&.ta
					display: flex
					flex-direction: column
					gap: 1rem
					justify-content: space-between

					textarea
						background-color: #F0F0F0
						font-family: 'Inter'
						font-size: 1rem
						min-height: 217px
						flex-grow: 1
						border-radius: 6px
						padding: 1.5rem
						border: none
						color: #4e4e4e
						@media(max-width:480px)
							min-height: 90px
						&::placeholder
							color: #8A8A8A
							font-family: inherit
							font-size: inherit
						&:focus
							outline: none
							background-color: darken(#F0F0F0, 5%)
					button
						background-color: $green
						font-size: 18px
						color: #fff
						border: none
						padding: 1rem 0
						border-radius: 4px
						cursor: pointer
						&:hover
							background-color: darken($green, 5%)
						&:focus
							outline: none
						&[disabled]
							background-color: #ccc
							cursor: not-allowed
.tooltip
	position: relative
	display: inline-block
	cursor: pointer
	.tooltiptext
		font-size: 14px
		visibility: hidden
		width: fit-content
		background-color: #000000a6
		color: #fff
		text-align: center
		border-radius: 6px
		padding: 5px
		position: absolute
		z-index: 1
		bottom: 150%
		left: 50%
		margin-left: -70px

		&::after
			content: ""
			position: absolute
			top: 100%
			left: 50%
			margin-left: -5px
			border-width: 5px
			border-style: solid
			border-color: black transparent transparent transparent

	&:hover .tooltiptext
		visibility: visible
dialog#modalResponse
	position: fixed
	margin: unset
	top: 50%
	left: 50%
	width: 360px
	z-index: 10
	transform: translateX(-50%) translateY(-50%)
	background-color: #fff
	border-radius: 12px
	box-shadow: 0 1px 4px 0 rgba(33, 33, 38, 0.16)
	border: none
	padding: 24px
	padding-top: 18px
	.head
		display: flex
		align-items: center
		justify-content: space-between
		border-bottom: 1px solid $green
		font-size: 20px
		font-weight: 500
		color: $green
		margin: 0 -24px
		padding: 0 24px
		padding-bottom: 12px
		button.close
			width: 24px
			height: 24px
			cursor: pointer
			border: none
			padding: 4px
			background: transparent
			background-position: center center
			background-repeat: no-repeat
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3e%3cpath fill='%2332A95E' d='m2 20-2-2 8-8-8-8 2-2 8 8 8-8 2 2-8 8 8 8-2 2-8-8-8 8Z'/%3e%3c/svg%3e")
			&:hover
				filter: brightness(0) saturate(100%) invert(10%) sepia(84%) saturate(7460%) hue-rotate(13deg) brightness(108%) contrast(122%)
	.body
		text-align: center
		.icon
			width: 62px
			height: 62px
			margin: 1rem auto
			background-repeat: no-repeat
			background-size: cover
			&.success
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' fill='none' viewBox='0 0 52 52'%3e%3cpath fill='%2332A95E' d='m22.217 37.717 18.212-18.213-3.617-3.617-14.595 14.596-7.363-7.362-3.616 3.617 10.979 10.979Zm3.616 13.95c-3.573 0-6.932-.678-10.075-2.035-3.143-1.356-5.877-3.197-8.202-5.522s-4.165-5.059-5.522-8.202C.678 32.765 0 29.407 0 25.833c0-3.573.678-6.932 2.034-10.075 1.357-3.143 3.197-5.877 5.522-8.202s5.06-4.165 8.202-5.522C18.901.678 22.26 0 25.833 0c3.574 0 6.932.678 10.075 2.034 3.143 1.357 5.877 3.197 8.202 5.522s4.166 5.06 5.522 8.202c1.357 3.143 2.035 6.502 2.035 10.075 0 3.574-.678 6.932-2.035 10.075-1.356 3.143-3.197 5.877-5.522 8.202s-5.059 4.166-8.202 5.522c-3.143 1.357-6.501 2.035-10.075 2.035Zm0-5.167c5.77 0 10.657-2.002 14.66-6.006 4.005-4.004 6.007-8.891 6.007-14.66 0-5.77-2.002-10.657-6.006-14.661-4.004-4.004-8.891-6.006-14.66-6.006-5.77 0-10.657 2.002-14.661 6.006-4.004 4.004-6.006 8.89-6.006 14.66s2.002 10.657 6.006 14.66c4.004 4.005 8.89 6.007 14.66 6.007Z'/%3e%3c/svg%3e")
			&.error
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' fill='none' viewBox='0 0 52 52'%3e%3cpath fill='%23FF0303' d='m16.533 38.75 9.3-9.3 9.3 9.3 3.617-3.617-9.3-9.3 9.3-9.3-3.617-3.616-9.3 9.3-9.3-9.3-3.616 3.616 9.3 9.3-9.3 9.3 3.616 3.617Zm9.3 12.917c-3.573 0-6.932-.678-10.075-2.035-3.143-1.356-5.877-3.197-8.202-5.522s-4.165-5.059-5.522-8.202C.678 32.765 0 29.407 0 25.833c0-3.573.678-6.932 2.034-10.075 1.357-3.143 3.197-5.877 5.522-8.202s5.06-4.165 8.202-5.522C18.901.678 22.26 0 25.833 0c3.574 0 6.932.678 10.075 2.034 3.143 1.357 5.877 3.197 8.202 5.522s4.166 5.06 5.522 8.202c1.357 3.143 2.035 6.502 2.035 10.075 0 3.574-.678 6.932-2.035 10.075-1.356 3.143-3.197 5.877-5.522 8.202s-5.059 4.166-8.202 5.522c-3.143 1.357-6.501 2.035-10.075 2.035Zm0-5.167c5.77 0 10.657-2.002 14.66-6.006 4.005-4.004 6.007-8.891 6.007-14.66 0-5.77-2.002-10.657-6.006-14.661-4.004-4.004-8.891-6.006-14.66-6.006-5.77 0-10.657 2.002-14.661 6.006-4.004 4.004-6.006 8.89-6.006 14.66s2.002 10.657 6.006 14.66c4.004 4.005 8.89 6.007 14.66 6.007Z'/%3e%3c/svg%3e")
		.header
			font-size: 20px
			font-weight: 500
		.dsc
			width: 80%
			margin: 1rem auto
			a
				color: $green
		button.hide
			background-color: $green
			font-size: 18px
			font-weight: 500
			color: #fff
			padding: 14px 50px
			border: none
			border-radius: 6px
			cursor: pointer
			transition: background-color 0.3s ease
			&:hover
				background-color: darken($green, 5%)

#share_icon.wrap
	position: relative
	@media(hover: hover)
		&:hover
			.button
				background-color: #ccc
	&.open
		.button
			background-color: #ccc
	@media(max-width: 480px)
		.under
			position: fixed
			inset: 0
			background-color: #00000047
			width: 100%
			height: 100%
			z-index: 11
	&.open
		.under
			display: block !important
		.box
			display: flex
			@media(max-width: 480px)
				bottom: 0

	.button
		padding: 7px
		border-radius: 50%
		cursor: pointer
		min-width: 34px
		>*
			pointer-events: none
		svg
			min-width: 18px
			//transform: translateX(-1px)
	.box
		display: none
		box-shadow: 0 1px 4px 0 rgba(33, 33, 38, 0.16)
		background: #fff
		border-radius: 12px
		padding: 8px 22px
		top: -4px
		right: 40px
		z-index: 10
		width: fit-content
		flex-direction: column
		position: absolute
		z-index: 12
		@media(max-width: 480px)
			display: flex
			position: fixed
			bottom: -418px
			width: 100%
			top: auto
			right: 0
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0
			transition: all 0.3s ease
			ul.body
				justify-content: space-between
				gap: auto

		.head
			display: none
			flex-direction: column
			gap: 12px
			align-items: center
			justify-content: center
			padding-bottom: 1rem
			border-bottom: 1px solid #ccc
			margin: 0 -22px
			margin-bottom: 1rem
			@media(max-width: 480px)
				display: flex
			.drag
				background-color: #d9d9d9
				width: 40px
				height: 5px
				border-radius: 4px
	ul.body
		line-height: 180%
		font-size: 14px
		flex-direction: row
		gap: 1.5rem
		display: flex
		margin-top: 0.5rem
		>*
			min-width: fit-content
		li
			a
				display: flex
				align-items: center
				flex-direction: column
				justify-content: center
				gap: 4px
			svg
				&:hover
					opacity: 0.8
		a
			color: #000
			text-decoration: none
			&:hover
				text-decoration: underline
		input
			display: none

a#floating_wa
	position: fixed
	right: 1rem
	bottom: 1rem
	z-index: 2
	&:hover
		opacity: 0.8
.grecaptcha-badge
	visibility: hidden
